body{background-color: white;}
.anything{color: white; font-family:ariel}
p{ font: italic;}

a {
    font-family: monospace;
    text-decoration: underline;
    font-weight: none;
  }
  
  a:link {
    color: Green;
  }
  
  a:visited {
    color: Red;
  }
  
  a:hover {
    text-decoration: none;
    color: white;
    font-family: cursive;
  }
  
  a:active {
    font-weight: bold;
  }
  
   
  table, th, td {
    border: 1px solid black;
    border-colapse: collapse;
    padding: 5px 0px 5px 10px;
    font-style: italic; 
    background-color: white; 

  }

 .no:nth-child(even){
   background-color: #f2f2f2; 
 }
 